#MidPilot Connector Generator
  # llm
LLM__OPENAI_API_KEY="TODO_INSERT_OPEN_API_KEY"
LLM__OPENAI_API_BASE=
LLM__MODEL_NAME=
  # search method
SEARCH__METHOD_NAME= #  either "ddgs" or "brave"

  # brave configuration
BRAVE__API_KEY=
BRAVE__ENDPOINT=

  # DATABASE CONFIGURATION
  # DATABASE__HOST=localhost # for local deployment
DATABASE__HOST=midpilot-connector-gen-db
DATABASE__INT_PORT=5432
DATABASE__EXT_PORT=5433
DATABASE__NAME=connector_generator
DATABASE__USER=user
DATABASE__PASSWORD=password
